*{
  margin: 0;
  padding: 0;
}

.wrapper{
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  z-index: -1;
}
::-webkit-scrollbar {
  display:none;
}
.collection{
  display: flex;
  flex-direction: row;
  float: left;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}
.collection > div{
  height: 20em;
  width: 30em;
  background-color: orange;
  margin: 5em;
  border-radius: 10px;
  cursor: pointer;
}
.modal{
  height: 20em;
  width: 30em;
  background-color: red;
  margin: 20px auto;
  border-radius: 10px;
  display: none;
  z-index: 1;
}
